<!DOCTYPE html>
<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MedaCy</title>
</head>
<body>


<div class="container text-center">
    <div class="">

        <div class="card border-bottom-0">
            <h5 class="card-header" style="color: blue">Extracting Information from Medical Text with Machine Learning</h5>
            MedaCy is a medical text mining framework we built to facilitate the engineering, training and application
            of machine learning models for medical information extraction.

            This demo provides an interface to the predictive functionality of a model trained to extract these entities
            from medical documents:
            <br>
            <br>

            <blockquote>
                <b>Drug, Form, Route, ADE, Reason, Frequency, Duration, Dosage, Strength, Dose, Active Ingredient, Volume of Distribution, Adverse Reaction, Trade Name, Duration</b>
            </blockquote>

            and more!

            <br>

            <ul class="list-group border-0">
                <li class="list-group-item border-0" >Clinical Notes is a machine learning trained to extract from text you might find in a physician's
                    report
                    for a patient visit.
                </li>
                <li class="list-group-item border-0">Nanodrug Labels is machine learning model trained to extract from FDA Nanoparticle drug labels.
                </li>
            </ul>

            <form method="POST">

                <label class="radio-inline px-4">
                    <input type="radio" name="model" value="clinical" checked="checked" class="px-2"> <h4>Clinical
                    Notes</h4></input>
                </label>

                <label class="radio-inline px-4">
                    <input type="radio" name="model" value="fda" class="px-2"> <h4>Nanodrug Labels</h4></input>
                </label>


                <br/>

                <!-- Enter desired text -->
                <input type="text" name="text" , size="40">
                <!-- Hit enter to generate predictions, or click "submit" -->
                <input type="submit" style="display: none"/>
                <input type="submit">
            </form>
        </div>

        <br>
        <div class="">
            <h5 class="card-header px-5" style="color: blue">Model Predictions</h5>
            <br>
            {{ predictions|safe }}
        </div>
    </div>


</div>
</body>
</html>